#login {
    min-height: 400px;
}
#block {
    color: #49505b;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 60px;
}
#welcome>span {
    font-size: 2.1em;
}
#login.from-success #welcome{
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

#welcome {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}